<div id="document">
  <h1><%= @document.title %></h1>
  <p><%= @document.published_date %></p>
  <p><%= @document.author %></p>

  <div class="panel panel-default">
    <div class="panel-body edit-document">
      <%= form_tag document_path(@document.basename), method: :put do %>
        <%= hidden_field_tag :xml, @document.raw_xml.force_encoding("utf-8") %>

        <div id="document_tei" class="editable">
          <%= @document.raw_xml.force_encoding("utf-8") %>
        </div>

        <%= submit_tag "Save", class: "btn btn-primary" %>
        <%= link_to "Cancel", document_path(@document.basename), class: "btn btn-link" %>
      <% end %>
    </div>
  </div>
</div>
