<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Add document</h1>
      </div>

      <%= form_tag documents_path, method: :post, multipart: true, class: "panel-body" do %>
        <div class="form-group">
          <%= label_tag :file_path, "Database path" %>
          <%= text_field_tag :file_path, "", class: "form-control" %>
        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a href="#tab_text" aria-controls="tab_text" role="tab" data-toggle="tab">Paste TEI</a>
          </li>
          <li>
            <a href="#tab_file" aria-controls="tab_file" role="tab" data-toggle="tab">Upload file</a>
          </li>
        </ul>

        <div class="tab-content spaced">
          <div id="tab_text" role="tabpanel" class="form-group tab-pane fade in active">
            <%= label_tag :text, "TEI data", class: "sr-only" %>
            <%= text_area_tag :text, "", rows: 20, class: "form-control" %>
          </div>
          <div id="tab_file" role="tabpanel" class="form-group tab-pane fade">
            <%= label_tag :file, "TEI file", class: "sr-only" %>
            <%= file_field_tag :file %>
          </div>
        </div>

        <%= submit_tag "Save", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
