<div class="row">
  <div class="col-md-12">
    <div>
      <% @queries[0..-2].each do |query| %>
        <%= render partial: "documents/search_form/viewer", locals: { query: query, editable: false, deletable: true } %>
      <% end %>

      <%= render partial: "documents/search_form/viewer", locals: { query: @queries.last, editable: true, deletable: false } %>
    </div>

    <%= render partial: "documents/search_form/editor", locals: {
      query: @queries.last, previous_queries: @queries[0..-2], class_name: "hidden edit-query"
    } %>
    <%= render partial: "documents/search_form/editor", locals: {
      query: nil, previous_queries: @queries, class_name: "hidden search-within"
    } %>

    <% if @results.size > 0 %>
      <div class="row search-info">
        <div class="col-sm-6">
          <%= pluralize(@result_count, "result") %>
          (retrieved in <%= @search_time.round(2) %>s)
        </div>
        <div class="col-sm-6 text-right">
          <%= link_to download_all_documents_path(request.query_parameters) do %>
            <span class="glyphicon glyphicon-download-alt"></span> Download all as TEI
          <% end %>
        </div>
      </div>

      <div id="search_results" class="list-group">
        <%= render partial: "document_in_list", collection: @results %>
      </div>

      <% if @result_count > @results.size %>
        <p class="text-center load-more-results">
          <button type="button" class="btn btn-default">Load more</button>
          <span class="spinner glyphicon glyphicon-option-horizontal hidden"></span>
        </p>
      <% end %>
    <% else %>
      <p class="search-results">No results.</p>
    <% end %>
  </div>
</div>
