<div class="row">
  <div class="col-md-12">
    <% @queries[0..-2].each do |query| %>
      <%= render partial: "documents/search_form/viewer", locals: { query: query, editable: false, deletable: true } %>
      <div class="query-separator"><span class="glyphicon glyphicon-filter"></span></div>
    <% end %>

    <%= render partial: "documents/search_form/viewer", locals: { query: @queries.last, editable: true, deletable: false } %>

    <%= render partial: "documents/search_form/editor", locals: {
      query: @queries.last, previous_queries: @queries[0..-2], class_name: "hidden edit-query"
    } %>
    <%= render partial: "documents/search_form/editor", locals: {
      query: nil, previous_queries: @queries, class_name: "hidden search-within"
    } %>

    <div class="query-separator"><span class="glyphicon glyphicon-chevron-down"></span></div>

    <div id="search_results" class="list-group">
      <%= render partial: "search_result", collection: @results %>
    </div>

    <p class="text-center load-more-results">
      <button type="button" class="btn btn-default">Load more</button>
      <span class="spinner glyphicon glyphicon-option-horizontal hidden"></span>
    </p>
  </div>
</div>
