<div id="document">
  <h1><%= @document.title %></h1>
  <p><%= render partial: "document_info", object: @document %></p>

  <p class="text-right">
    <span class="btn-group switch-format pull-left">
      <button class="btn btn-default format-html active">Formatted</button>
      <button class="btn btn-default format-tei">Raw TEI</button>
    </span>

    <span class="btn-group">
      <%= link_to edit_document_path(@document.basename), class: "btn btn-link" do %>
        <span class="glyphicon glyphicon-pencil"></span> Edit
      <% end %>

      <%= link_to download_document_path(@document.basename), class: "btn btn-link" do %>
        <span class="glyphicon glyphicon-download-alt"></span> Download
      <% end %>
    </span>
  </p>

  <div class="panel panel-default">
    <div class="panel-body view-document">
      <div class="format-html">
        <%= @document.front_matter %>
        <%= @document.body %>
      </div>
      <div class="format-tei">
        <div id="document_tei"><%= @document.raw_xml.force_encoding("utf-8") %></div>
      </div>
    </div>
  </div>
</div>
