<h1><%= @document.title %></h1>
<p><%= @document.published_date %></p>
<p><%= @document.author %></p>
<div class="panel panel-default">
  <div class="panel-body">
    <%= @document.front_matter %>
    <%= @document.body %>
  </div>
</div>
