<div class="row">
  <div class="col-md-12">
    <h1>Statistics</h1>
    <p>
      Our collection currently contains <strong><%= @statistics.document_count %> documents</strong>
      by <strong><%= @statistics.author_count %> authors</strong>
      written between <strong><%= format_date(@statistics.min_date) %></strong>
      and <strong><%= format_date(@statistics.max_date) %></strong>.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Top searches (everywhere)</h3>
    <% if @top_searches.size > 0 %>
      <%= render partial: "top_searches", object: @top_searches %>
      <p class="text-center">
        <%= link_to "View all", search_records_path, class: "btn btn-default" %>
      </p>
    <% else %>
      <p>Nothing yet.</p>
    <% end %>
  </div>

  <div class="col-md-6">
    <h3>Top searches (this location)</h3>
    <% if @top_searches_here.size > 0 %>
      <%= render partial: "top_searches", object: @top_searches_here %>
      <p class="text-center">
        <%= link_to "View all", search_records_path(local: true), class: "btn btn-default" %>
      </p>
    <% else %>
      <p>Nothing yet.</p>
    <% end %>
  </div>
</div>
