<div class="row">
  <div class="col-md-12">
    <h1>Statistics</h1>
    <p>
      Our collection currently contains <strong><%= @statistics.document_count %> documents</strong>
      by <strong><%= @statistics.author_count %> authors</strong>
      written between <strong><%= format_date(@statistics.min_date) %></strong>
      and <strong><%= format_date(@statistics.max_date) %></strong>.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Top searches</h3>
    <% if @top_searches.size > 0 %>
      <ul class="list-group search-query-viewer">
        <% @top_searches.each do |search| %>
          <li class="list-group-item top-search">
            <span class="badge"><%= pluralize(search.count, "time") %></span>
            <%= link_to search_documents_path(query: search.queries.map(&:to_json)) do %>
              <% search.queries.each do |query| %>
                <p><%= query_view(query) %></p>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>Nothing yet.</p>
    <% end %>
  </div>
</div>
