<%= form_tag search_documents_path, method: :get, class: "simple-search #{"hidden" if hidden}" do %>
  <%= render partial: "documents/search_form/editor_queries", locals: { previous_queries: previous_queries, current_query: query } %>

  <div class="form-group">
    <%= label_tag :original_query, "Search", class: "sr-only" %>
    <div class="input-group">
      <%= text_field_tag :original_query, simple_text_value(query), placeholder: "Search for documents ...", class: "form-control input-lg", name: nil %>

      <span class="input-group-btn">
        <%= button_tag type: "submit", class: "btn btn-primary btn-lg" do %>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <span class="sr-only">Search</span>
          <span class="search-type-xpath hidden"
            data-toggle="tooltip" data-placement="bottom"
            title="Your search term will be interpreted as an XPath expression.">(XPath)</span>
        <% end %>
      </span>
    </div>
  </div>
<% end %>
