<%= form_tag search_documents_path, method: :get, class: "advanced-search #{"hidden" if hidden}" do %>
  <%= render partial: "documents/search_form/editor_queries", locals: { previous_queries: previous_queries, current_query: query } %>

  <% unless cookies[:hide_advanced_search_info] %>
    <div id="advanced_search_info" class="alert alert-info fade in">
      Drag or click elements to add them to the box. Drag them out of the box to remove them.
      <%= button_tag "×", type: "button", class: "close", "aria-label" => "Close" %>
    </div>
  <% end %>

  <p class="text-center advanced-search-terms">
    <button type="button" class="search-term search-term-operator not" data-operator="not">NOT</button>
    <span class="spacer"></span>
    <button type="button" class="search-term search-term-text" data-type="t">Some text ...</button>
    <button type="button" class="search-term search-term-text" data-type="x">Some XPath ...</button>
    <span class="spacer"></span>
    <button type="button" class="search-term search-term-operator and" data-operator="and">AND</button>
    <button type="button" class="search-term search-term-operator or" data-operator="or">OR</button>
  </p>

  <div class="form-group">
    <p class="sr-only">Current query</p>
    <div class="input-group">
      <span class="form-control advanced-search-query editable" data-query="<%= query.to_json %>"></span>
      <span class="input-group-btn">
        <%= button_tag type: "submit", class: "btn btn-primary btn-lg" do %>
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <span class="sr-only">Search</span>
        <% end %>
      </span>
    </div>
  </div>
<% end %>
