<nav class="navbar navbar-inverse navbar-sm">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://www.williamcolenso.co.nz/the-colenso-project/">
        The Colenso Project
      </a>
    </div>
  </div>
</nav>

<nav class="navbar navbar-inverse navbar-spaced">
  <div class="container">
    <a class="navbar-brand" href="<%= documents_path %>">Documents and letters</a>
    <% if @queries %>
      <a class="navbar-brand navbar-breadcrumb" href="<%= request.fullpath %>">
        Search results
      </a>
    <% end %>
    <% if @browse_path %>
      <a class="navbar-brand navbar-breadcrumb" href="<%= browse_documents_path("/") %>">
        Browse
      </a>
    <% end %>
    <% if @document %>
      <a class="navbar-brand navbar-breadcrumb" href="<%= document_path(@document.basename) %>">
        <%= @document.title.truncate(30, separator: /\s/) %>
      </a>
    <% end %>
    <% if @document && @editing %>
      <a class="navbar-brand navbar-breadcrumb" href="<%= edit_document_path(@document.basename) %>">
        Edit
      </a>
    <% end %>

    <span class="navbar-form navbar-right">
      <%= link_to statistics_documents_path,
          class: "btn btn-default #{"active" if request.path == statistics_documents_path}" do %>
        <span class="glyphicon glyphicon-stats"></span> Statistics
      <% end %>

      <%= link_to new_document_path,
          class: "btn btn-default #{"active" if request.path == new_document_path}" do %>
        <span class="glyphicon glyphicon-plus"></span> Add document
      <% end %>
    </span>
  </div>
</nav>
